:root {
--background: #fff;
--primary: #000000;
--secondary: #0779f5;
--tertiary: #aac5fc;
--btn-bg: #62a4fb;
--nav-bg: #deecfcef

  /* Textos */
--text-black: #000000;
}


body{
    font-family: sans-serif;
    margin: 0;
    max-width: 1400px;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    height: 50px;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

main{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4777b6;
    width: 100%;
}

#hero{
    padding: 60px 0;
    margin-top: 60px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 45px;
    min-width: 500px;
    font-weight: 600;
    color: #4777b6;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.container a {
    color: #fff;
    background-color: #62a4fb;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.container span a {
    background-color: #fff;
    color: #62a4fb;
    border: 1px solid;
}

.hero-info img {
    display: flex;
}

.container h3 {
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #4777b6;
    padding: 60px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #000000;
    padding: 60px 0px;
}

.cont h2 {
    text-align: center;
}

.cont {
    display: flex;
    flex-direction: column;
}

.cont-icons {
    display: flex;
    gap: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}