@media (max-width:1200px) {

    #hero {
        display: flex;
        flex-direction: column;
        width: 992px;
    }

    .hero-img {
        display: none;
    }
}

@media (max-width:992px) {

    #hero {
        width: 768px;
    }

    #contacts {
        display: flex;
        flex-direction: column;
        width: 768px;
    }
}

@media (max-width:768px) {
    #hero {
        width: 576px;
    }
}

@media (max-width:576px) {
    #hero {
        width: 550px;
    }

    .info-cards-container {
        display: flex;
        flex-direction: column;
        width: 550px;
    }
}